*{box-sizing:border-box;}
body{background-color: rgba(30,147,204,255);}
header{background-color:rgba(51,51,51,255);height:60px;font-size:16px;}
header nav a{color:white;}
nav ul{margin: 0px;}
li{list-style: none;}
a{text-decoration: none;}
#start{}
.whiter{height:70px;text-align:center;background-color: white;}
#sponsors .whiter h4{line-height:70px;margin:0px;color: rgba(116,111,112,255);}
#sponsors .imager{background-color: rgba(238,238,238,255);display: -webkit-flex; /* Safari */
  display: flex;}
#sponsors .imager img{flex:auto;}
footer{background-color:rgba(51,51,51,255);}
footer a{color:white;}
